<div class="main">
    <div class="pelis" *ngFor="let p of list; let i = index" (click)="show(p, i)">
        <h1>{{p.titulo}} ({{p.year}})</h1>
        <h2>{{p.director}}</h2>
        <img src="{{p.image}}">
    </div>  
    <div class="overlay" *ngIf="currentPelicula"></div>
    <div class="movie-card" *ngIf="currentPelicula">
        <img class="movie-img-card" [src]="currentPelicula.image">
        <div class="movie-details">
            <button class="close-btn" (click)="closeCard()"><i class="fa-regular fa-circle-xmark"></i></button>
            <div class="movie-heading">
                <h1>{{currentPelicula.titulo}}</h1>
                <div class="rating">
                    <h1>{{currentPelicula.rating}}</h1>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <div class="movie-subheading">
                <h2>{{currentPelicula.year}}</h2>|
                <h2>{{currentPelicula.director}}</h2>
            </div>
            <div class="synopsis">
                {{currentPelicula.plot}}
                Index:{{currentIndex}}
            </div>
            <div class="mas-info">
                <a [routerLink]="['/pelis',currentIndex]" class="mas-info-link">Más Información</a>
            </div>
        </div>
    </div>
</div>