<div class="main">
    <div class="card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1726587912121-ea21fcc57ff8?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{titulo}}</h5>
            <p class="card-text">{{mensaje}}</p>
            <a href="#" class="btn btn-primary">Clic aquí</a>
        </div>
    </div>
</div>