
.navbar {
    background-color: #141414;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}


.navbar-brand {
    color: #e50914;
    font-size: 3.5rem;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    user-select: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.navbar-brand:hover {
    color: #ffffff;
    transform: scale(1.1);
}


.nav-menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-item {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.nav-item a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    padding: 5px 10px;
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.nav-item a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #e50914;
    bottom: -3px;
    left: 0;
    transition: width 0.3s ease;
}

.nav-item a:hover::before {
    width: 100%;
}

.nav-item a:hover {
    color: #e50914;
    transform: scale(1.05);
}
