<div class="movie-grid">
  <div class="movie-card" *ngFor="let movie of list; let i = index">
    <img [src]="movie.image" [alt]="movie.titulo" class="movie-poster" />
    <div class="movie-info">
      <h2 class="movie-title">{{ movie.titulo }}</h2>
      <div class="movie-details">
        <p class="movie-year">{{ movie.year }}</p>
        <p class="movie-director">{{ movie.director }}</p>
        <div class="movie-rating">
          <span class="rating-value">{{ movie.rating }}</span>
          <span class="rating-star">★</span>
        </div>
        <p class="movie-plot">{{ movie.plot }}</p>
        <a [routerLink]="['/series', movie.titulo]" class="more-info-link"
          >Más Información</a
        >
      </div>
    </div>
  </div>
</div>
